<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	<resultMap type="Notice" id="resultNotice">
		<id column="notice_no" property="notice_no" />
		<result column="user_id" property="user_id" />
		<result column="notice_title" property="notice_title" />
		<result column="notice_content" property="notice_content" />
		<result column="notice_date" property="notice_date" />
		<result column="notice_count" property="notice_count" />
	</resultMap>
	
	<resultMap id="noticeTop3Result" type="Notice">
		<id property="notice_no" column="notice_no"/>
		<result property="notice_title" column="notice_title"/>
		<result property="notice_date" column="notice_date"/>
	</resultMap>

	<!-- 공지 갯수 조회 -->
	<select id="getListCount" resultType="_int">
		select count(*) from notice
	</select>
	
	<!-- 공지 전체 조회 -->
	<select id="selectList" resultMap="resultNotice">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, notice_no, notice_title, user_id,   
			               notice_content, notice_date, notice_count  
			       FROM (select * from notice order by notice_no desc))
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 공지 등록 -->
	<insert id="insertNotice" parameterType="Notice">
		insert into notice (notice_no, user_id, notice_title, notice_content, notice_date, notice_count)
			        values ((select max(notice_no) + 1 from notice), #{ user_id }, #{ notice_title }, #{notice_content}, sysdate, #{notice_count})		
	</insert>
	
	<!-- 상세보기 -->
	 <select id="selectNotice" parameterType="_int" resultMap="resultNotice">
		select * from notice
		where notice_no = #{ notice_no }
	</select>
	
	<!-- 공지 수정 -->
	<update id="updateNotice" parameterType="Notice">
		update notice
		set notice_title = #{ notice_title },
		   notice_content = #{ notice_content }
		where notice_no = #{ notice_no } 
	</update>
	
	<!-- 공지 삭제 -->
	<delete id="deleteNotice" parameterType="_int">
		delete from notice
		where notice_no = #{ notice_no }
	</delete>
	
	<!-- 제목으로 검색 -->
	<select id="searchTitle" parameterType="string" resultMap="resultNotice">
		select * from notice
		where notice_title like '%' || #{ keyword } || '%'
		order by notice_no desc
	</select>
	<!-- 제목으로 검색 갯수 조회 -->
<!--  	<select id="getTitleCount" resultType="_int">
		select count(*) from notice
		where notice_title like '%' || #{ keyword } || '%'
	</select> -->

	<!-- 작성자로 검색 -->
	<select id="searchWriter" parameterType="string" resultMap="resultNotice">
		select * from notice
		where user_id like '%' || #{ keyword } || '%'
		order by notice_no desc
	</select>
	
	<!-- 날짜로 검색 -->
 	<select id="searchDate" parameterType="SearchDate" resultMap="resultNotice">
		select * from notice
		where notice_date between #{ begin } and #{ end }
		order by notice_no desc
	</select>
	
	<!-- 공지글 3개 -->
	<select id="selectTop3" resultMap="noticeTop3Result">
		<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM RNUM, notice_no, notice_title, notice_date
		          FROM (SELECT * FROM NOTICE
		                     ORDER BY notice_date desc, notice_no DESC))
		WHERE RNUM >= 1 AND RNUM <= 5
		]]>
	</select>

</mapper>
